aiohttp==3.7.4.post0
altgraph==0.17.2
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
DateTime==4.4
discord.py @ git+https://github.com/Rapptz/discord.py@fd9c244f480ae12f972daf2ffe34ae83125847fe
dnspython==2.2.1
future==0.18.2
humanfriendly==10.0
idna==3.3
multidict==6.0.2
pefile==2022.5.30
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pymongo==4.1.1
pyreadline3==3.4.1
pytz==2022.1
pywin32-ctypes==0.2.0
typing_extensions==4.2.0
yarl==1.7.2
zope.interface==5.4.0